<a href="https://colab.research.google.com/github/kishore-klassy/Machine-Learning-Journey/blob/main/carpriceprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder

In [17]:
car_dataset = pd.read_csv("/content/CAR DETAILS FROM CAR DEKHO.csv")

In [18]:
car_dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [19]:
car_dataset.shape

(4340, 8)

In [20]:
car_dataset.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [21]:
car_dataset.fuel.value_counts()

Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: fuel, dtype: int64

In [22]:
car_dataset.replace({'fuel':{'Petrol':0,'Diesel':1,'CNG':2,'LPG':3,'Electric':4}},inplace=True)
car_dataset.replace({'transmission':{'Manual':0,'Automatic':1}},inplace=True)
car_dataset.replace({'owner':{'First Owner':0,'Second Owner':1,'Third Owner':2,'Fourth & Above Owner':3,'Test Drive Car':4}},inplace=True)
car_dataset.replace({'seller_type':{'Individual':0,'Dealer':1,'Trustmark Dealer':2}},inplace=True)
car_dataset.fuel.value_counts()

1    2153
0    2123
2      40
3      23
4       1
Name: fuel, dtype: int64

In [23]:
list1_dmmy = car_dataset['name']
list1 = list1_dmmy.copy()
list1

0                             Maruti 800 AC
1                  Maruti Wagon R LXI Minor
2                      Hyundai Verna 1.6 SX
3                    Datsun RediGO T Option
4                     Honda Amaze VX i-DTEC
                       ...
4335    Hyundai i20 Magna 1.4 CRDi (Diesel)
4336             Hyundai i20 Magna 1.4 CRDi
4337                    Maruti 800 AC BSIII
4338       Hyundai Creta 1.6 CRDi SX Option
4339                       Renault KWID RXT
Name: name, Length: 4340, dtype: object

In [35]:
label_encoder = LabelEncoder()
# Assuming 'name' is your categorical column in the DataFrame
car_dataset['name'] = label_encoder.fit_transform(car_dataset['name'])
list2 = car_dataset['name']
mapping = {}
for i in range(len(list1)):
    mapping[list1[i]] = list2[i]
# mapping

In [25]:
car_dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,775,2007,60000,70000,0,0,0,0
1,1041,2007,135000,50000,0,0,0,0
2,505,2012,600000,100000,1,0,0,0
3,118,2017,250000,46000,0,0,0,0
4,279,2014,450000,141000,1,0,0,1

In [26]:
X = car_dataset.drop('selling_price',axis=1)
Y = car_dataset['selling_price']

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=2)
print(X_train)

      name  year  km_driven  fuel  seller_type  transmission  owner
3581  1436  2017      70000     1            0             0      0
4191   708  2012      72000     1            1             0      0
2450   849  2017      40000     0            0             1      0
984    126  2014      70000     1            0             0      0
3546   950  2018      35000     0            0             0      0
...    ...   ...        ...   ...          ...           ...    ...
3335   432  2018      32000     0            0             0      0
1099   321  2014     110000     1            0             0      0
2514   604  2013      50000     1            0             0      0
3606   758  2010      70000     1            0             0      0
2575   113  2017      15000     0            1             0      1

[3472 rows x 7 columns]

In [28]:
# lin_reg_model = LinearRegression()
# lin_reg_model.fit(X_train,Y_train)
# training_data_prediction = rf.predict(X_train)
# error_score = metrics.r2_score(Y_train, training_data_prediction)
# print("R squared Error : ", error_score)

In [29]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 100)
rf.fit(X_train, Y_train)
y_pred = rf.predict(X_test)

In [36]:
# Dummy data for prediction
dummy_data = {
    'name': mapping.get('Tata Altroz XZ'),
    'year': [2007],
    'km_driven': [50000],
    'fuel': [0],  # Assuming Petrol
    'seller_type': [0],  # Assuming Individual
    'transmission': [0],  # Assuming Manual
    'owner': [0],  # Assuming Second Owner
}

# Convert dummy data to DataFrame
dummy_df = pd.DataFrame(dummy_data)

# Label encode 'name' column considering new categories
dummy_df['name'] = label_encoder.transform(dummy_df['name'])

In [37]:
# Make predictions for the dummy data
predicted_price = rf.predict(dummy_df)

print(f"Predicted Selling Price: {predicted_price[0]}")

Predicted Selling Price: 110800.0